@import "normalize";

@import "variables";
@import "grid";
@import "base";
@import "colors";
@import "margin";
@import "padding";
@import "type";
@import "utilities";
@import "borders";
@import "buttons";
@import "lists";
@import "forms";
@import "media-object";
@import "tables";

html,body {
  height:100%;
  margin:0;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
   max-width: 72px;
   max-height: 72px;
  //  max-width: 64px;
}

.fullscreen {
  height:100%;
  min-height:100%;/*for mozilla*/
  height:auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 100%;
  }
}

// html>body .fullscreen {
//   height:auto;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

#calendar{
  background-image: url(images/calendar.jpg);
  background-size: contain;
}

#lighthouse{
  background-image: url(images/lighthouse.jpg);
  background-size: cover;
}

.shadow {
  box-shadow: 10px 10px 5px #ccc;
}

.gradient {
  // background: linear-gradient(to top, #ccdeeb, #4f93a5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
